.git
.github
.idea
.vscode
AppWeb/vendor
AppWeb/node_modules
AppWeb/storage/logs/*
!AppWeb/storage/logs/.gitignore
AppWeb/storage/framework/cache/*
!AppWeb/storage/framework/cache/.gitignore
AppWeb/storage/framework/sessions/*
!AppWeb/storage/framework/sessions/.gitignore
AppWeb/storage/framework/views/*
!AppWeb/storage/framework/views/.gitignore
AppWeb/.env
.dockerignore
Dockerfile
docker-compose.yml
